body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 2em;
    height: 90vh;
    background: url(../img/icon.png) 95% 95% no-repeat;
    background-size: 20vh;
}
h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
button {
  padding: 10px 16px;
  margin-top: 10px;
  font-size: 16px;
}
#wifi-info, #success-info { display: none; margin-top: 30px; }
#loading { display: none; font-style: italic; color: #555; }